@import "../assets/styles/styles";

.btn-group {
  display: flex;
}

.dropdown-menu {

  li {
    .disabled {

    }
    &:hover {
      background: $additionalBackground;
    }
  }
}

.dropdown-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dropdown-toggle:not(.selected) {
  color: $accent;
  font-size: 16px;
  font-style: italic;
}
