<!--<div class="form-group">-->
<!--  <label class="custom-control material-checkbox">-->
<!--    <input type="checkbox" class="material-control-input"-->
<!--           [checked]="pdf"-->
<!--           (change)="toggle($event, 'docx')">-->
<!--    <span class="material-control-indicator"></span>-->
<!--    <span class="material-control-description">Send as docx</span>-->
<!--  </label>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--  <label class="custom-control material-checkbox">-->
<!--    <input type="checkbox" class="material-control-input"-->
<!--           [checked]="docx"-->
<!--           (change)="toggle($event, 'pdf')">-->
<!--    <span class="material-control-indicator"></span>-->
<!--    <span class="material-control-description">Send as pdf</span>-->
<!--  </label>-->
<!--</div>-->


<div class="form-group">
  <button type="button" class="btn btn-outline-primary btn-md btn-block" (click)="publish()">Publish</button>
</div>
